<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!--
    Each bean cross-references a name to a specific implementation class.
  -->
  <bean name='customerRepository' 
        class="org.chrismaloney.repository.HibernateCustomerRepositoryImpl"/>
        
  <!--
    This next bean includes a reference to the previous one. 
  -->
  <bean name='customerService' 
        class='org.chrismaloney.service.CustomerServiceImpl'>
    <constructor-arg index='0' ref='customerRepository'/>
  </bean>

</beans>
