<web-app version="2.5" 
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- 
    This gives the top-level configuration information for our app's servlet,
    including its name, what it is, and where its configuration file is located.
   -->
  <servlet>
    <servlet-name>wikipediaCourseServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!-- The following is technically optional, but everybody recommends that it be present -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/servlet-config.xml</param-value>
    </init-param>
  </servlet>   
  
  <!--
    These specify which URLs will be mapped to our servlet. 
  -->
  <servlet-mapping>
    <servlet-name>wikipediaCourseServlet</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>wikipediaCourseServlet</servlet-name>
    <url-pattern>/assets/**</url-pattern>
  </servlet-mapping>
                            
                            
  <display-name>Archetype Created Web Application</display-name>
</web-app>
